<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UsesSMO>false</UsesSMO>
  <UsesSQL>true</UsesSQL>
  <MigrationDirectory>ChangeMe</MigrationDirectory>
  <ConnectionString>ChangeMe</ConnectionString>
</Configuration>